.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.icons a {
    width: 50px;
    height: 50px;
}