.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formSearch {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    margin: 50px 50px 0 270px;
}